.form-row .form-group {
    display: flex;
    flex-wrap: wrap;
}
div {
    color:#119DA4;
    font: 1.5rem;
    text-align: center;
}
.btn {
    background-color:#119DA4;
    border-color:#119DA4;
}